@import url("https://fonts.googleapis.com/css?family=Space+Mono:400|Work+Sans:400");

/* FROM Type Scale */
html {
  font-size: var(--font-size);
  box-sizing: border-box;
}

/* For every element in the entire site, make it so padding doesn't add in addition to the width. */
/* Any width percentage you specify will always be what happens, the padding will take out of the width you specify to reach the width you specify */
*,
*::before,
*::after {
  box-sizing: inherit;
}


/*18px*/

body {
  font-family: var(--body-font);
  font-weight: 400;
  line-height: 1.65;
  background: hsl(var(--c-base));
  color: hsl(var(--c-text));
}

footer p {
  margin-bottom: 0;
  max-width: none;
}

p {
  margin-bottom: 1.15rem;
  max-width: var(--max-width);
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 var(--gap);
  font-family: var(--heading-font);
  font-weight: 400;
  line-height: 1.15;
  color: hsl(var(--c-text-header));
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: var(--small-text);
}

a {
  text-decoration: underline;
  color: hsl(var(--c-accent));

}

/* End typescale */

hr {
  border-top: var(--line);
}

/* Media Queries for screen size changes */
@media only screen and (max-width: 600px) {
  :root {
    --font-size: 16px;
  }

  .grid { display: block; }
  .flex { display: block; }

  .not-on-phones { display: none; }
  .gutter { margin-left: unset; margin-right: unset; }
}

@media only screen and (max-width: 900px) {
  :root {
    --h1: var(--h2);
    --font-size: 20px;
    --max-width: 20em;
  }

  #links {
    width: 100%;
    min-width: unset;
    .flex-row { flex-direction: column; }
  }
  .width-fit-content { width: 100% };
  .not-on-tablets{ display: none; }
}

@media only screen and (max-width: 1100px) {
  :root {
    --font-size: 24px;
    --max-width: 35em;
  }
}
